body{
    background-color: #fff;
}

.error {
    color: #DD3333;
    font-weight: bold;
}

#file-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.folder {
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
}

.file {
    margin: 5px;
    border-radius: 50%;
    text-align: center;
    border-width: 3px;
    border-style: solid;
}