body{
    background-color: #fff;
    margin: 0px
}

/*NAVBAR************************/
#nav{
    padding: 10px;
    background-color: #1E2327;
    color: rgba(255, 255, 255, 0.75);
}

.input-round{
    border-radius: 3px;
    padding: 5px;
    background-color: rgba(255,255,255,0.125);
    color: inherit;
    border: none;
}

#repo-input{
    width: 200px;
}

.input-round > option{
    color: black;
}

.btn{
    background: none;
    border: 0px;
    font-size: 20px;
    color: inherit;
    vertical-align: middle;
    padding: 2px 6px;
    border-radius: 3px;
    cursor: pointer;
}
.btn:hover{
    color: white;
}
.btn:focus{
    outline: 0px;
}

.error {
    color: #DD3333;
    font-weight: bold;
}
/******************************************/

/*FILE DETAILS******************************/
#file-details > .header{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}
#file-details > .header > .close{
    cursor: pointer;
}

#file-details > pre {
    margin: 0px;
}
/***************************************************/

/*D3 GRAPH*******************************************/
.node {
    cursor: pointer;
}
  
.node:hover {
stroke: #000;
stroke-width: 1.5px;
}

.node--leaf {
fill: white;
}

.label {
font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
text-anchor: middle;
text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root,
.node--leaf {
pointer-events: none;
}
/****************************************************/

/*TRANSITIONS****************************************/
.fade-enter-active, .fade-leave-active {
  transition: opacity .2s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}