body{
    background-color: #fff;
    margin: 0px
}

/*NAVBAR************************/
#nav{
    padding: 10px;
    background-color: #1E2327;
    color: rgba(255, 255, 255, 0.75);
}

.input-round{
    border-radius: 3px;
    padding: 5px;
    background-color: rgba(255,255,255,0.125);
    color: inherit;
    border: none;
}

#repo-input{
    width: 200px;
}

.input-round > option{
    color: black;
}

.btn{
    background: none;
    border: 0px;
    font-size: 20px;
    color: inherit;
    vertical-align: middle;
    padding: 2px 6px;
    border-radius: 3px;
    cursor: pointer;
}
.btn:hover{
    color: white;
}
.btn:focus{
    outline: 0px;
}

.error {
    color: #DD3333;
    font-weight: bold;
}
/******************************************/

/*CONTENT**********************************/
#file-container{
    margin: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.folder {
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
}

.file {
    margin: 5px;
    border-radius: 50%;
    text-align: center;
    border-width: 3px;
    border-style: solid;
    cursor: pointer;
}
/*******************************************/

/*FILE DETAILS******************************/
#file-details > .header{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}
#file-details > .header > .close{
    cursor: pointer;
}

#file-details > pre {
    margin: 0px;
}
/***************************************************/

/*TRANSITIONS****************************************/
.fade-enter-active, .fade-leave-active {
  transition: opacity .2s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}