@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    @apply bg-slate-800;
  }
}

button {
  @apply border p-4 rounded transition-colors text-lg;
}
button:hover {
  @apply bg-slate-600 border-slate-600 text-white;
}

input {
  @apply border p-2 rounded-sm transition-colors;
}
